body {
    margin: 0px;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

.logo-content-img {
    border: solid 0px #42515f;
}

.emp-text {
    font: normal;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
    padding-left: 5px;
}

.emp-payroll {
    color: #42515f;
}

* {
    box-sizing: border-box;
}

.form-content {
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.form {
    width: 65%;
    padding: 44px 140px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
    margin: 27px;
}

.form-head {
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    margin-bottom: 40px;
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}

.label {
    min-width: 140px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text {
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.profile-radio-content {
    display: flex;
    flex-direction: row;
}

.profile-radio-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.profile {
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}

select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
    width: 100px;
    margin-right: 1em;
    margin-bottom: 1em;
}

.start-date {
    flex: row wrap;
    width: 100%;
}

.button-parent {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
    flex-flow: row wrap;
}

.button {
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid #707070;
    cursor: pointer;
    margin: 10px;
}

.submit-button {
    border: none;
    background-color: #f5f5f5;
    margin-right: 30px;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
}

.submit-button:hover {
    background: #82A70C 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
    color: white;
}

.cancel-button {
    text-decoration: none;
    text-align: center;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
}

.cancel-button:hover {
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
    color: white;
}

.reset-button {
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
}

.reset-button:hover {
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
    color: white;
}

@media only screen and (max-width: 1200px) {
    .form {
        padding: 40px 90px;
    }
}

@media only screen and (max-width: 850px) {
    .cancel-button {
        margin-left: 0px;
    }
    .form {
        padding: 35px 55px;
    }
    select {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 700px) {
    .form {
        margin-top: 10px;
        padding: 10px 30px;
    }
    .row {
        flex-direction: column;
    }
    .profile-radio-button {
        flex-flow: wrap;
    }
    .submit-reset {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        flex-flow: row wrap;
    }
    .button {
        min-width: 40px;
        width: 80%;
        margin: 10px auto;
    }
    .label {
        min-width: 100px;
    }
    label {
        padding: 3px 3px 3px 0;
        display: inline-block;
    }
    .row-content {
        flex-flow: row wrap;
    }
}